body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
    Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: black;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}
.inputs{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    flex-wrap: wrap;
}
.inp-1{
    width: 250px;
    height: 30px;
    margin-left: 10px;
    background-color: black;
    color: grey;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
}
.fixe-div{
    width:140px ;
    height: 200px;
    background-color: #fff;
    position: absolute;
    left: 0;
    position: fixed;
}
a{
text-decoration: none;
color: black;
display: block;
line-height: 45px;
padding-left: 20px;
padding-top: 5px;
transition: all 1s;
}
a:hover{
     color: #fff;
     background-color: black;
}
p{
    color: #fff;
    padding: 15px;
    text-align: center;
}
.rate{
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
.all{
    display: flex;
    justify-content:center;

}
.cards{
    margin-top: 30px;
}
.card{
    width:300px;
    height: 450px;
    background-image: url(images/barbie.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;    
}
.discription{
    height: 100%;
    background:linear-gradient(to top,#f39cec,rgba(2, 0, 0, 0.2));
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 1s;
    
    
}
.card:hover .discription{
    top: 0;
}

/* responsive for mobile */

@media (max-width: 768px){
   .fixe-div{
    display: none;
   }
     .inputs{
        width: 100%;
   }

   .inp-1{
        width: 90%;
   }
     .all{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
    }
}

/* responsive for tablet */

@media (min-width: 769px) and (max-width:1024px){
     .fixe-div{
    display: none;
   }
        .inputs{
        width: 100%;
   }

   .inp-1{
        width: 250px;
   }
     .all{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0 30px;
        flex-wrap: wrap;
    }

    .card{
        width: 260px;
    }
}

/* responsive for small labtop */

@media (min-width: 1025px) and (max-width:1280px){
     .fixe-div{
    display: none;
   }
     .inputs{
        width: 100%;
   }
   .card{
    width: 300px;
    height: 440px;
    margin: 10px;
   }
}

/* responsive for large screen */

@media (min-width: 1281px) and (max-width:1920px){
    .inputs{
        width: 100%;
   }
   .card{
    width: 300px;
    height: 440px;
    margin: 15px;
   }
}

